
body {
    font-family: Arial, sans-serif;
    background-color:#adb2b8;
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
  }
.full_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    height: 87vh;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Header and navigation styling */
  header {
    width: 100%;
    height: 50px;
    background-color: #a1afbf;
    padding: 10px 0;
    display: flex;
    justify-content: end;
    position:fixed;
    top: 2px;

  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    color: white;
    margin: 0 30px;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    font-family: "Playfair Display", serif;
  }
  
  nav a:hover {
    color: #32312e;
    font-family: "Merriweather", serif;
  }
  
  /* Content area styling */
  .text_content {
    margin-top: 40%;
  }

  .text h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
    display: inline;
    font-family: "Merriweather", serif;
  }
  
  .p_text p {
    margin-top: 30px;
    font-size: 1.2em;
    color: #666;
    font-family: "Merriweather", serif;
  }

  #thiru{
    color:rgb(119, 132, 131);
  }
  
  /* Button styling */
  .btn {
    margin: 20px 30px;
  }
  
  .btn #hire_me_button {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Merriweather", serif;
  }
  
  .btn #hire_me_button:hover {
    background-color: transparent;
    transform: scale(1.05);
    color: #a1afbf;
    border: 2px solid #a1afbf;
  }
  