/* Projects.css */


#projects {
    padding: 20px;
    background-color: #adb2b8;
    height: 600px;
}

.column_back{
    padding: 20px;
    background-color: #adb2b8;
    width: 95%;
    margin: 0 auto;
}

h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    background-color: white;
    border-radius: 7px;
    padding: 20px 0;
}

.column {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items */
    gap: 20px; /* Space between boxes */
    justify-content: center; /* Center the boxes */
    margin-top: 20px;
}

.card {
    flex: 1 1 calc(25% - 20px); /* Four cards per row with space between */
    background: #fff;
    border-radius: 8px;
    box-shadow: -1px 1px 19px 7px rgba(0,0,0,0.2);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation effects */
    min-width: 250px; /* Ensures cards don't get too small */
}

.card:hover {
    box-shadow: -1px 1px 19px 7px rgba(0,0,0,0.75);
}

h3 {
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #adb2b8;
    border-radius: 10px;
    color: #f3f7fa; /* Bootstrap Primary color */
    margin-bottom: 60px;
    text-align: center;
}

.project-card {
    margin-bottom: 15px; /* Space between project cards */
}

.project-card h5 {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.project-card p {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: #666;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(33.33% - 20px); /* Three cards per row */
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* Two cards per row */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; /* One card per row */
    }
}
