/* Basic styling for the skills section */
body {
    font-family: Arial, sans-serif;
    background-color: #adb2b8;
    margin: 0;
    padding: 0;
    color: #333;
  }

  .back{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    height: 87vh;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for the about section */
  .content {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color:#adb2b8;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  p{

    font-family: "Playfair Display", serif;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
  }
  
  /* Box styling for each skill category */
  .content > div {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .content > div:hover {
    
    box-shadow: 1px 7px 12px rgb(23, 22, 22);
  }
  
  .content h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
  }
  
  .content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content ul li {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    font-family: "Merriweather", serif;
  }
  
  /* Flex styling to display all ul boxes in a row */
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    overflow-x: auto;
  }
